<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>PrimeProducts</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    {% load static %}

    <link rel="stylesheet" href=" {% static "css/styles.css" %}?v=00005" type="text/css">
    <link rel="stylesheet" href=" {% static "css/bootstrap.css" %}?v=00001" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Amaranth' >
    
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
</style>
    <script>
    $(document).ready(function() {
          $('#search_btn').click(function(){
            ville_select
            //alert("search for the database and leave me alone" + $("#search-field-1").val() + $("#trier_select").val() + $("#prix_select").val() + $("#ville_select").val());
            $.ajax({
                  headers: {
                      'Content-Type':'application/json',
                      'X-CSRFToken': getCookie('csrftoken')
                  },
                  url: 'search_query',
                  type: 'POST',
                  data: JSON.stringify({'query': $("#search-field-1").val(), 'trier': $("#trier_select").val(), 'prix': $("#prix_select").val(), 'ville':$("#ville_select").val()}),
                  success: function(json) {
                    alert('success');
                    //$('.overlay').hide();
                  },
                  error: function(){
                    alert('fail')
                  }

              })
         
         //else alert('Aucun corpus selectionné');
        });

          $(function() {
            $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
          });
          $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
          });

        });

    });

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    </script>
  </head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="/static/images/prime-logo.png">
          </span>
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="accueil">Accueil</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="categories_listing">Categories</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="contact">Contact</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="connexion">Connexion</a>
            </nav>
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="/static/images/prime-logo.png">
          </span>
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item"><a href="connexion">Connexion</a></li>
            <li disabled class="mdl-menu__item"><a href="logout">Déconexion</a></li>
          </ul>
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span>
          <img src="/static/images/alphabet/A.png" style="width:240px">
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="profile">Mon profil</a>
          <a class="mdl-navigation__link" href="favourite_list">Ma liste des favoris</a>
          <a class="mdl-navigation__link" href="my_comments">Mes commentaires</a>
          <a class="mdl-navigation__link" href="contact_form">Contacter le site</a>
        </nav>
      </div>

      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="android-wear-section" style="height:420px;">
          <div class="android-wear-band" style="position: relative;margin-top:50px;height: 400px;">
            <div class="mdl-card__media" style="padding: 2px; margin: 30px;display: inline-block;background-color: unset; float:left;margin-top: 80px;">
              <img src="/static/images/alphabet/P.png" style="height:250px;width:250px;">
            </div>
            <div class="android-wear-band-text" style="display:inline;">
              <div class="mdl-typography--display-2 mdl-typography--font-thin" style="margin-top: 80px;">Prime Products</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                Prime Products est un site qui permet de comparer les prix de différents produits disponible dans les supermarchés de France.
                <br>
                L'utilisation du site et l'inscription au site est gratuite. 
                <br>
                En vous inscrivant, vous pouvez mieux gérer vos achats avec une liste de favoris.
              </p>
              <!--<p class="mdl-typography--headline mdl-typography--font-thin">
                Supermarché : 
              </p>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                Prix : 
              </p>-->
              
            </div>
          </div>
        </div>

<div class="container" style="padding-top:50px">
  <div class="row">
    <div class="span6">
            <form>
                <p>Vous pouvez nous contacter en remplissant ce formulaire.</p>
                <div class="controls controls-row">
                    <input id="name" name="name" type="text" class="span3" placeholder="Nom" style="width:200px"> 
                    <input id="email" name="email" type="email" class="span3" placeholder="Adresse mail" style="width:297px">
                </div>
                <div class="controls">
                    <textarea id="message" name="message" class="span6" placeholder="Votre message" rows="5" style="width:500px;margin-top:10px"></textarea>
                </div>
                  
                <div class="controls">
                    <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-right" style="width:500px">Envoyer</button>
                </div>
            </form>
        </div>
  </div>
</div>
        <footer class="android-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
      
            <div class="mdl-mega-footer--right-section">
              <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
              </a>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light">Aria, Reem, Badr & Mehdi © 2017 Nancy</p>
            <p class="mdl-typography--font-light">PrimeProducts website.</p>
          </div>

        </footer>
      </div>
    </div>
    
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    {% endblock %}
  </body>
</html>
