<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>PrimeProducts</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="$$hosted_libs_prefix$$/$$version$$/material.min.css">-->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!--<link rel="stylesheet" href="styles.css">-->
    {% load static %}
    <!--<link rel="stylesheet" href=" {% static "css/materialize.css" %}?v=00008" type="text/css" rel="alternate stylesheet" media="screen,projection">-->

    <link rel="stylesheet" href=" {% static "css/styles.css" %}?v=00005" type="text/css">
    <link rel="stylesheet" href=" {% static "css/bootstrap.css" %}?v=00001" type="text/css">

    <!--<link rel="stylesheet" href=" {% static "css/cssv2/style.css" %}?v=00008">-->
    <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Amaranth' >
    <!--<link rel="icon" href=" {% static "images/icons/icon.png" %}?v=00008">-->
    <!--<script src=" {% static "jquery-3.1.1.min.js" %}"></script>-->
    <!--<script src=" {% static "js/materialize.js" %}?v=00008"></script>
    <script src=" {% static "js/init.js" %}?v=00008"></script>-->
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    
.container {
    padding-top: 40px;
}
.single {
padding: 30px 15px;
margin-top: 40px;
background: #fcfcfc;
border: 1px solid #f0f0f0; }
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: #333;
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: #ff173c;
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #ff173c; }
.single li:last-child a {
border-bottom: 0; }
</style>
    <script>
    $(document).ready(function() {
          $('#search_btn').click(function(){
            ville_select
            //alert("search for the database and leave me alone" + $("#search-field-1").val() + $("#trier_select").val() + $("#prix_select").val() + $("#ville_select").val());
            $.ajax({
                  headers: {
                      'Content-Type':'application/json',
                      'X-CSRFToken': getCookie('csrftoken')
                  },
                  url: 'search_query',
                  type: 'POST',
                  data: JSON.stringify({'query': $("#search-field-1").val(), 'trier': $("#trier_select").val(), 'prix': $("#prix_select").val(), 'ville':$("#ville_select").val()}),
                  success: function(json) {
                    alert('success');
                    //$('.overlay').hide();
                  },
                  error: function(){
                    alert('fail')
                  }

              })
         
         //else alert('Aucun corpus selectionné');
        });

          $(function() {
            $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
          });
          $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
          });

        });

    });

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    </script>
  </head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="/static/images/prime-logo.png">
          </span>
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="accueil">Accueil</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="categories_listing">Categories</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="contact">Contact</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="connexion">Connexion</a>
            </nav>
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="/static/images/prime-logo.png">
          </span>
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item"><a href="connexion">Connexion</a></li>
            <li disabled class="mdl-menu__item"><a href="logout">Déconexion</a></li>
          </ul>
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span>
          <img src="/static/images/alphabet/A.png" style="width:240px">
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="profile">Mon profil</a>
          <a class="mdl-navigation__link" href="favourite_list">Ma liste des favoris</a>
          <a class="mdl-navigation__link" href="my_comments">Mes commentaires</a>
          <a class="mdl-navigation__link" href="contact_form">Contacter le site</a>
        </nav>
      </div>

      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        
<!--<div class="container" style="width: 1000px;height: 500px;margin-left: 22%;">-->
<div class="container">
<div class="row">
<div class="col-sm-8">
  <!-- Category -->
  <div class="single category">
    <h3 class="side-title">Liste des favoris</h3>
    <ul class="list-unstyled">
      {% for c in favoris %}
      <li><a href="" title="">{{c.name}} <span class="pull-right">{{c.date}}</span></a></li>
      {% endfor %}
      <!--<li><a href="" title="">Technology <span class="pull-right">13</span></a></li>
      <li><a href="" title="">Web <span class="pull-right">13</span></a></li>
      <li><a href="" title="">Ecommerce <span class="pull-right">13</span></a></li>
      <li><a href="" title="">Wordpress <span class="pull-right">13</span></a></li>
      <li><a href="" title="">Android <span class="pull-right">13</span></a></li>
      <li><a href="" title="">IOS <span class="pull-right">13</span></a></li>
      <li><a href="" title="">Windows <span class="pull-right">13</span></a></li>-->
    </ul>
   </div>
</div> 
</div>
</div>      
<!--</div>-->


        <footer class="android-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
      
            <div class="mdl-mega-footer--right-section">
              <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
              </a>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light">Aria, Reem, Badr & Mehdi © 2017 Nancy</p>
            <p class="mdl-typography--font-light">PrimeProducts website.</p>
          </div>

        </footer>
      </div>
    </div>
    <!--<a href="https://github.com/google/material-design-lite/blob/mdl-1.x/templates/android-dot-com/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>-->
    <!--<script src="$$hosted_libs_prefix$$/$$version$$/material.min.js"></script>-->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    {% endblock %}
  </body>
</html>
